<h2>Show convo</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @convo.title %>
  </li>

</ul>

<%= link "Edit", to: convo_path(@conn, :edit, @convo) %>
<%= link "Back", to: convo_path(@conn, :index) %>
