<div id="convo" data-id="<%= @convo.id %>" class="chat-container">
  <div id="message-container"></div>

  <div id="message-input">
    <input type="text" placeholder="✎ write your message..."></input>
    <button class="mdl-button mdl-js-button mdl-button--raised
                   mdl-js-ripple-effect mdl-button--accent">
      Send
    </button>
  </div>
</div>
