/* This file is for your main application css. */

/* General
********************/

html {
  height: 100%;
}

body {
  min-height: 100%;
}

main.mdl-layout__content {
  display: flex;
}

.mdl-layout h1,
.mdl-layout h2,
.mdl-layout h3,
.mdl-layout h4 {
  font-family: 'Berkshire Swash', cursive;
}


.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mdl-textfield.mdl-textfield--floating-label {
  display: block;
}

/* Navigation
********************/

span.mdl-layout-title {
  font-family: 'Berkshire Swash', cursive;
}

.mdl-navigation h5 {
  padding: 0 40px;
  font-size: 18px;
  color: rgb(0,150,136);
}

/* Session Pages
********************/

.session-form {
  text-align: center;
}

.session-form .mdl-textfield {
  margin: 0 auto;
}

/* Chat Container
********************/
.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.02);
}

.message {
  padding: 5px 10px;
}

.message > div {
  display: inline-block;
}

.message-info {
  font-weight: bold;
}

.message-body {
  color: rgba(0, 0, 0, 0.7);
}

#message-input {
  display: flex;
  bottom: 0;
  width: 100%;
  padding: 30px 20px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px -2px 7px 0px;
}

#message-input input {
  flex: 1;
  padding: 7px;
}

#message-input button {
  width: 100px;
}
