/* This file is for your main application css. */

/* General
********************/

html {
  height: 100%;
}

body {
  min-height: 100%;
}

main.mdl-layout__content {
  display: flex;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px;
}

/* Navigation
********************/

.mdl-navigation h5 {
  padding: 0 40px;
  font-size: 18px;
}

/* Chat Container
********************/
.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.message {
  padding: 5px 10px;
}

.message > div {
  display: inline-block;
}

#message-input {
  display: flex;
  bottom: 0;
  width: 100%;
}

#message-input input {
  flex: 1;
}

#message-input button {
  width: 100px;
}
