<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bot Chat</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <a href="/" class="mdl-layout-title">Bot Chat</a>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <%= if @current_user do %>
              <%= link @current_user.username,
                       to: user_path(@conn, :show, @current_user),
                       class: "mdl-navigation__link" %>
              <%= link "Log out",
                       to: session_path(@conn, :delete, @current_user),
                       method: "delete",
                       class: "mdl-navigation__link" %>
            <% else %>
              <%= link "Log In",
                       to: session_path(@conn, :new),
                       class: "mdl-navigation__link" %>
              <%= link "Sign Up",
                       to: user_path(@conn, :new),
                       class: "mdl-navigation__link" %>
            <% end %>
          </nav>
        </div>
      </header>

      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Bot Chat</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Channel One</a>
          <a class="mdl-navigation__link" href="">Channel Two</a>
          <a class="mdl-navigation__link" href="">Channel Three</a>
          <a class="mdl-navigation__link" href="">Channel Four</a>
        </nav>
      </div>

      <main role="main" class="mdl-layout__content">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <div class="page-content">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
